<p id="notice"><%= notice %></p>
<%= link_to 'Edit', edit_chatroom_path(@chatroom) if current_user.chatrooms.include? @chatroom %> |
<%= link_to 'Back', chatrooms_path %>

<p>
  <b>Topic:</b>
  <%= @chatroom.topic %>
</p>

