.last_message
  %blockquote.pull-right
    %p= last_message
    %small
      %cite{title: "#{last_message.user.display_name}"}= last_message.user.display_name
      %strong #{distance_of_time_in_words last_message.created_at_in_local, Time.now} ago