@import "variables"

$footer_height: 150px
$footer_padding: 10px

*
  font-family: "PT Sans", "Ubuntu", sans-serif

html, body
  height: 100%
  line-height: 1.5

.chatroooms
  position: relative
  .last_message, .users
    clear: both

  .last_message
    blockquote 
      padding: 0 15px 0 0
      margin: 0
      p
        font-size: 90%

.clear
  clear: both

a
  text-decoration: none

#wrap
  padding: 20px inherit
  background-color: white

body
  background-color: $chatmonkey_brown

.btn-primary
  background-color: $chatmonkey_peach
  border-color: $chatmonkey_peach
  color: black

.panel-primary
  border-color: $chatmonkey_peach
  .panel-heading
    background-color: $chatmonkey_peach
    border-color: $chatmonkey_peach

.chatroom
  width: 99%
  .panel-title a
    &:hover
      text-decoration: none
    color: black

#footer
  padding: 20px inherit
  color: white
  text-shadow: #666 0 1px 5px
  a
    color: white
    &:before
      content: "\2386  "
  h1, h2, h3, h4, h5, h6
    margin: 0
    padding: 0
    text-align: center
  ul
    list-style: none

.button-like
  @include round-corners
  @include box_shadow
  padding: 5px 10px
  margin: 0 5px
  background-color: $chatmonkey_peach
  color: black
  text-shadow: #CCC 0 1px 1px
  min-height: 27px
  &:hover
    background-color: white
    color: $diy_brown

.navbar
  margin-bottom: 0
  background-color: rgba(0,0,0,0.0)

  .nav 
    li
      margin-bottom: 10px

    li:first-child
      a
        border-left: 1px solid black
    
    a
      color: black
      background-color: $chatmonkey_peach
      border-right: 1px solid black

      &:hover
        color: white

  .navbar-brand
    background-color: white
    height: 50px
    img
      max-height: 23px
    
.flash
  @include round-corners
  @include box_shadow
  text-align: center
  margin-bottom: 20px
  color: black

.error
  background-color: red

.alert
  background-color: yellow

.success, .notice
  background-color: green + 80

.round_container
  @include round-corners
  >form
    @include round-top-corners
    background-color: $diy_brown
    color: #FFF
    padding: 30px
    a
      color: white
      border-bottom: 1px solid white
    h1,h2
      font-family: $major_font
      text-shadow: 1px 1px 3px #000
    label
      font-family: $major_font
      font-size: 120%
      display: block
      text-shadow: 0 1px 1px #000
      margin-top: 10px
    label.checkbox_label,
    label.remember
      display: inline-block
      font-size: 100%
      text-shadow: 0 0 0
    label.inline
      display: inline-block
    input[type=checkbox]
      display: inline-block
      margin-top: 10px
    input[type=submit]
      @include trans-gradient
      background-color: $chatmonkey_peach
      margin-top: 20px
      font-size: 120%
      text-align: center
      color: white
      text-shadow: black 0 1px 1px
      border: 2px solid $chatmonkey_brown + 10
      &:active
        @include trans-gradient(rgba(0,0,0,0.5) rgba(0,0,0,0.2))
        border: 2px solid $diy_brown

.sign_in, .sign_up, .forgot_password
  width: 400px
  margin: 0 auto
  text-align: center

.devise_links
  @include round-bottom-corners
  background-color: $chatmonkey_brown
  box-shadow: inset rgba(0,0,0,0.25) 0 1px 2px 0
  padding: 10px
  color: white
  > a
    color: white
    border-bottom: 1px solid white

input.link
  @include round-corners(0)
  margin: 0
  padding: 0
  background: transparent none
  border: none

input.want
  background: image-url("monkey_like.jpg") white left center no-repeat
  padding: 5px
  height: 30px
  padding-left: 35px
  &:hover
    background: image-url("monkey_like.jpg") white left center no-repeat

.actions
  text-align: left
  line-height: 33px

.none
  display: none

.topic, .members
  margin-bottom: 10px

@media (min-width: 992px)
  .chatroom
    margin-right: 1%
    width: 24%

  .navbar .nav  li
    margin-bottom: 0